<a href="https://colab.research.google.com/github/deekshu15/Python/blob/main/dict_methods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
dict1 = {'name': 'Sachin', 'age': 22}
print("Given Dictionary:", dict1)
print(dict1.get('name', 'Not Found'))
print(dict1.get('salary', 'Not Found'))                                  #get method

Given Dictionary: {'name': 'Sachin', 'age': 22}
Sachin
Not Found

In [ ]:
dict1 = {'name': 'Sachin', 'age': 22}
dict2 = {'salary': 69000, 'profession': 'software engineer'}
print("Given Dictionary:", dict1)
dict1.update(dict2)
print("Updated Dictionary:", dict1)                                     #update method

Given Dictionary: {'name': 'Sachin', 'age': 22}
Updated Dictionary: {'name': 'Sachin', 'age': 22, 'salary': 69000, 'profession': 'software engineer'}

In [ ]:
dict1 = {'name': 'Sachin', 'age': 22}
new_dict = dict1.copy()
print("New Dictionary:", new_dict)                                      #copy method

New Dictionary: {'name': 'Sachin', 'age': 22}

In [ ]:
dict_one = {'name': 'Sachin', 'age': 22}
age = dict_one.pop('age')
print("Popped Value:", age)
print("Updated Dictionary:", dict_one)                                  #pop method

Popped Value: 22
Updated Dictionary: {'name': 'Sachin'}

In [ ]:
dict_one = {'name': 'Sachin', 'age': 22}
popped_item = dict_one.popitem()

print("Popped Value:", popped_item)
print("Updated Dictionary:", dict_one)                                   #popitem method

Popped Value: ('age', 22)
Updated Dictionary: {'name': 'Sachin'}

In [ ]:
dict_one = {'name': 'Sachin', 'age': 22}
dict_one.clear()
print("Updated Dictionary:", dict_one)                                   #clear method

Updated Dictionary: {}

In [ ]:
dict_one = {'name': 'Sachin', 'age': 22}
print(dict_one.keys())                                                   #keys method

dict_keys(['name', 'age'])

In [ ]:
given_keys = ['first name', 'last name', 'job profile']
dict_one = dict.fromkeys(given_keys, 'Unknown')
print("Created Dictionary:", dict_one)                                   #fromkeys method

Created Dictionary: {'first name': 'Unknown', 'last name': 'Unknown', 'job profile': 'Unknown'}

In [ ]:
dict_one = {'name': 'Sachin', 'age': 22}
print(dict_one.items())                                                  #items method

dict_items([('name', 'Sachin'), ('age', 22)])

In [ ]:
dict_one = {'name': 'Sachin', 'age': 22}
age = dict_one.setdefault('age', 25)
salary = dict_one.setdefault('salary', 69000)
print("Age:", age)
print("Salary:", salary)
print("Updated Dictionary:", dict_one)                                   #setdefault method

Age: 22
Salary: 69000
Updated Dictionary: {'name': 'Sachin', 'age': 22, 'salary': 69000}

In [ ]:
dict_one = {'name': 'Sachin', 'age': 22}
print(dict_one.values())                                                  #values method

dict_values(['Sachin', 22])